<svg [style.cursor]="mode === 'draw' ? 'crosshair' : 'default'" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  attr.viewBox="0 0 {{width}} {{height}}" [attr.width]="width" [attr.height]="height" 
  (mousemove)="onPointMouseMove($event)"
  (mouseup)="onClick($event)">

  <svg:g *ngFor="let point of points; let i = index">
    <svg:circle class="major-point" [attr.r]="3 / zoom" [attr.cx]="point.point.X" [attr.cy]="point.point.Y"
      [style.fill]="point.selected ? 'red' : ''"
      (mousedown)="onPointMouseDown($event, i)"
      (mouseup)="onPointMouseUp($event, i)"
    ></svg:circle>
  </svg:g>

</svg>