<div class="root-panel">
  <div class="basic-info-panel">
    <div class="username-panel" nz-row>
      <div class="avatar" nz-col [nzSpan]="12">
        <p >王</p>
      </div>
      <div class="username" nz-col [nzSpan]="12">
        <div>
          <span style="font-size: 18px;">Username</span>
        </div>
        <div>
          <span>ID: UserID</span>
        </div>
      </div>

      <div class="detail-info-panel">
        <div class="level">
        </div>
        <div class="accuracy"></div>
        <div class="completed-count"></div>
        <div class="register-time"></div>
      </div>
    </div>
  </div>
</div>