<form nz-form [formGroup]="validateForm">
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="originPassword" nz-form-item-required>原密码</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input [nzSize]="'large'" formControlName="originPassword" [nzType]="'password'" [nzId]="'originPassword'"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('originPassword').dirty&&getFormControl('originPassword').hasError('required')">请输入原始密码!</div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="password" nz-form-item-required>新密码</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input [nzSize]="'large'" formControlName="password" [nzType]="'password'" [nzId]="'password'" (ngModelChange)="updateConfirmValidator()"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">请输入新密码!</div>
      <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('pattern')">只能输入5-20个, 以字母开头、可带数字、“_”、“.”的字串!</div>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="6" [nzXs]="24">
      <label for="checkPassword" nz-form-item-required>再次输入新密码</label>
    </div>
    <div nz-form-control nz-col [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input [nzSize]="'large'" formControlName="checkPassword" [nzType]="'password'" [nzId]="'checkPassword'"></nz-input>
      <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('required')">请再次输入新密码!</div>
      <div nz-form-explain *ngIf="getFormControl('checkPassword').dirty&&getFormControl('checkPassword').hasError('confirm')">两次输入密码不一致!</div>
    </div>
  </div>
</form>