<div *ngIf="tasks && tasks.length > 0 && tasks[0].type !== 'foreign'">
  <div *ngIf="tasks[0] && currentTaskSet && (currentTaskSet.dataType === 'image'||currentTaskSet.dataType === 'audio')">
    <app-mind-tool #mindTool [tasks]="tasks" [taskset]="currentTaskSet" (quizEvent)="getQuizResult($event)"></app-mind-tool>
  </div>
  <div *ngIf="tasks[0] && currentTaskSet && currentTaskSet.dataType === 'audio'&&false">
      <app-audio-transcript></app-audio-transcript>
  </div>
  <div class="action-panel">
    <app-task-submit (onSubmit)="submit()" (onSkip)="skip()" (onNext)="next()" [quizResult]="quizResult"></app-task-submit>
  </div>
</div>
<div *ngIf="tasks && tasks.length > 0 && tasks[0].type === 'foreign'">
  <app-introduction-viewer [content]="tasks[0].introduction"></app-introduction-viewer>
</div>
<!-- <app-task-submit class="action-panel" [quizResult]="quizResult"></app-task-submit> -->
