<div #markdownEle class="container">
    <td-markdown>
# 人脸216点标注任务说明

## 1. 任务地址：[http://renwu.longmaosoft.com/task/tags][1]

## 2. 任务说明

视频教程：
1. 人脸标注介绍 [https://www.bilibili.com/video/av17634292](https://www.bilibili.com/video/av17634292)
2. 90度侧脸作图说明 [https://www.bilibili.com/video/av17634948](https://www.bilibili.com/video/av17634948)

进入任务地址后，点击右上角的`微信登录`按钮，使用微信扫描二维码登录。

在 标注任务--->待解锁任务 中，找到`人脸216点位修正标注`，点击进入，进行学习和考核。

![xiUEV.png](https://s1.ax1x.com/2017/12/26/xiUEV.png)


  [1]: http://renwu.longmaosoft.com/task/tags
    </td-markdown>
</div>

