<div class="work-panel">
  <svg class="svg-container center align-self-center" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    attr.viewBox="0 0 {{width}} {{height}}" [attr.width]="width" [attr.height]="height" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)" (mousewheel)="onMouseWheel($event)" [attr.transform]="'scale('+ zoom + ') translate(' + transX + ',' + transY + ')'"
    (contextmenu)="disableMenu()" [style.cursor]="mode === 'draw' ? 'crosshair' : 'default'">
    <svg:image #image attr.xlink:href="{{imgSrc}}" attr.width="{{width}}" attr.height="{{height}}">
    </svg:image>

    <svg:g *ngIf="correctResult && correctResult.annotations" >
      <svg:rect *ngFor="let item of correctResult.annotations" class="bounding-box" style="stroke: blue;" [style.stroke-width]="(1/zoom) + 'px'" [attr.x]="item.start.X" [attr.y]="item.start.Y"
        [attr.width]="item.width" [attr.height]="item.height"></svg:rect>
    </svg:g>

    <svg:g #svgGroup *ngFor="let item of boundingBoxs; let i = index">
      <svg:rect class="bounding-box" [style.stroke-width]="(1.5/zoom) + 'px'" [attr.x]="item.svgStart.X" [attr.y]="item.svgStart.Y"
        [attr.width]="item.svgWidth" [attr.height]="item.svgHeight"
        (click)="selectBounding(i)"></svg:rect>
      <svg:g *ngIf="item.svgWidth > 0 && item.svgHeight > 0 && item.selected">
        <svg:circle id="left-top" class="bounding-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="2 / zoom" [attr.cx]="item.svgStart.X"
          [attr.cy]="item.svgStart.Y"></svg:circle>
        <svg:circle id="left-center-{{i}}" class="bounding-point resize-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="3 / zoom"
          [attr.cx]="item.svgStart.X" [attr.cy]="item.svgStart.Y + (item.svgHeight / 2)" (mousedown)="startResize($event)"></svg:circle>
        <svg:circle id="left-bottom" class="bounding-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="2 / zoom" [attr.cx]="item.svgStart.X"
          [attr.cy]="item.svgStart.Y + item.svgHeight"></svg:circle>
        <svg:circle id="top-center-{{i}}" class="bounding-point resize-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="3 / zoom"
          [attr.cx]="item.svgStart.X + (item.svgWidth / 2)" [attr.cy]="item.svgStart.Y" (mousedown)="startResize($event)"></svg:circle>
        <svg:circle id="bottom-center-{{i}}" class="bounding-point resize-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="3 / zoom"
          [attr.cx]="item.svgStart.X + (item.svgWidth / 2)" [attr.cy]="item.svgStart.Y + item.svgHeight" (mousedown)="startResize($event)"></svg:circle>
        <svg:circle id="right-top" class="bounding-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="2 / zoom" [attr.cx]="item.svgStart.X + item.svgWidth"
          [attr.cy]="item.svgStart.Y"></svg:circle>
        <svg:circle id="right-center-{{i}}" class="bounding-point resize-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="3 / zoom"
          [attr.cx]="item.svgStart.X + item.svgWidth" [attr.cy]="item.svgStart.Y + (item.svgHeight / 2)" (mousedown)="startResize($event)"></svg:circle>
        <svg:circle id="right-bottom" class="bounding-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="2 / zoom" [attr.cx]="item.svgStart.X + item.svgWidth"
          [attr.cy]="item.svgStart.Y + item.svgHeight"></svg:circle>

      </svg:g>
    </svg:g>

    <svg:g class="polygon-group" *ngIf="polygonCanvas">
      <svg:g>
        <svg:polygon style="fill-opacity: 0.2; fill: white;" *ngFor="let ring of polygonCanvas.rings" [attr.points]="ring | PointsToString"></svg:polygon>
      </svg:g>
      <svg:g>
        <svg:line class="path-line" *ngFor="let line of polygonCanvas.lines" [attr.x1]="line.start.X" [attr.y1]="line.start.Y" [attr.x2]="line.end.X"
          [attr.y2]="line.end.Y" [attr.stroke-width]="3 / zoom" stroke="green"></svg:line>
      </svg:g>
      <svg:g>
        <svg:circle class="path-point" *ngFor="let point of polygonCanvas.vertexs" [attr.r]="2 / zoom" [attr.cx]="point.X" [attr.cy]="point.Y"
          style="stroke: red; fill: white;" [attr.stroke-width]="2 / zoom" (mouseup)="onMouseUp($event)"></svg:circle>
      </svg:g>
    </svg:g>
  </svg>

  <div class="left-menu" *ngIf="currentTask.params.withLabels">
      <app-label-list [objects]="currentTask.params.objectsToAnnotate" (onLabeled)="label($event)"></app-label-list>
  </div>
</div>
<div #toolContainer class="container bottom-tools">
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent">快捷键</button>
  <mat-button-toggle-group #group="matButtonToggleGroup" [style.height]="toolContainer.clientHeight + 'px'" [value]="mode"
    (change)="modeChange($event)">
    <mat-button-toggle [style.height]="toolContainer.clientHeight + 'px'" value="draw">
      <span>绘制</span>
    </mat-button-toggle>
    <mat-button-toggle [style.height]="toolContainer.clientHeight + 'px'" value="select">
      <span>选择</span>
      <!-- <mat-icon>select</mat-icon> -->
    </mat-button-toggle>
    <mat-button-toggle [style.height]="toolContainer.clientHeight + 'px'" value="delete">
      <span>删除</span>
      <!-- <mat-icon>delete</mat-icon> -->
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent" (click)="onZoomInClick()" [disabled]="zoomTimes === 10">放大+</button>
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent" [disabled]="zoomTimes === 0"
    (click)="onZoomOutClick()">缩小-</button>
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent" (click)="fitImage()">适应大小</button>
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent" (click)="undo()" [disabled]="operationStack.length === 0">撤销</button>
</div>

<!-- <div class="action-panel">
  <div *ngIf="submitConfirm" class="action-confirm">
    <div class="action-confirm-text">
      确定提交吗？要不要再确认一下。要做一个付责任的镖师哦~~
    </div>
    <div class="action-confirm-buttons">
      <button mat-raised-button (click)="this.submitConfirm = false">我再看看</button>
      <button mat-raised-button color="primary">不改了</button>
    </div>
  </div>
  <button *ngIf="!submitConfirm" mat-raised-button color="accent" class="action-next" (click)="this.submitConfirm = true">Next</button>
</div> -->

<!-- <app-task-submit class="action-panel"></app-task-submit> -->
