<form class="form-container" [formGroup]="loginForm" (submit)="login()">
  <h2>{{userService.role}} 登录</h2>
  <div style="width: 100%;">
    <mat-form-field class="input-field">
      <input matInput required [formControl]="usernameFormControl" placeholder="用户名" value="">
      <mat-error *ngIf="usernameFormControl.hasError('required')">
        <strong>必须填写用户名</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
      <input #pass matInput required [formControl]="passwordFormControl" type="password" placeholder="密码" value="">
      <mat-hint *ngIf="!pass.value" align="start">
        密码必须
        <strong>同时包含字母、数字、特殊字符(!@#$%^&*)中的两种</strong>。
      </mat-hint>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        <strong>必须填写密码</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button [disabled]="!loginForm.valid" color="accent" type="submit" class="submit-button">登录</button>

    <a [routerLink]="['/signup']">还没有账户？点击注册</a>
  </div>

</form>
