<div class="work-panel">

    <!-- [style.transform]="safeTransform" -->
  <div #svgContainer class="svg-container center align-self-center"
    [style.width]="width * zoom + 'px'"
    [style.height]="height * zoom + 'px'"
    [style.transform]="safeTransform"
    (contextmenu)="disableMenu()">
    <!-- <canvas #canvas></canvas> -->
    <img [src]="dataSrc" [style.width]="width * zoom + 'px'" [style.height]="height * zoom + 'px'">
    <div [ngStyle]="stylesObj">
      <ng-template appToolSwitch></ng-template>
    </div>
  </div>

  <div class="left-menu">
    <!--Task Introduction-->
      <div *ngIf="tasks !== undefined && tasks[currentTaskIndex] !== undefined && tasks[currentTaskIndex].introduction" class="task-introduction">
          <!-- <td-markdown [content]="tasks[currentTaskIndex].introduction"></td-markdown> -->
          <app-introduction-viewer [content]="tasks[currentTaskIndex].introduction"></app-introduction-viewer>
      </div>
      <div *ngIf="tasks !== undefined && tasks[currentTaskIndex] !== undefined && tasks[currentTaskIndex].status === 'verifying'" class="task-introduction">
        <app-verify-panel [message]="'当前标注是否正确??'" (resultChange)="verifyResultChange($event)"></app-verify-panel>
      </div>
      <app-label-list *ngIf="currentTask != undefined && currentTask.params.withLabels" [objects]="currentTask.params.objectsToAnnotate" (onLabeled)="label($event)"></app-label-list>
  </div>
</div>
<div #toolContainer class="container bottom-tools">
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent">快捷键</button>
  <mat-button-toggle-group #group="matButtonToggleGroup" [style.height]="toolContainer.clientHeight + 'px'" [value]="mode"
    (change)="modeChange($event)">
    <mat-button-toggle [style.height]="toolContainer.clientHeight + 'px'" value="draw">
      <span>绘制</span>
    </mat-button-toggle>
    <mat-button-toggle [style.height]="toolContainer.clientHeight + 'px'" value="select">
      <span>选择</span>
      <!-- <mat-icon>select</mat-icon> -->
    </mat-button-toggle>
    <mat-button-toggle [style.height]="toolContainer.clientHeight + 'px'" value="delete">
      <span>删除</span>
      <!-- <mat-icon>delete</mat-icon> -->
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent" (click)="onZoomInClick()" [disabled]="zoomTimes === 10">放大+</button>
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent" [disabled]="zoomTimes === -8"
    (click)="onZoomOutClick()">缩小-</button>
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent" (click)="fitImage()">适应大小</button>
  <button mat-raised-button [style.height]="toolContainer.clientHeight + 'px'" color="accent" (click)="undo()" [disabled]="!labelToolComponent.canUndo">撤销</button>
</div>

<!-- <div class="action-panel">
  <div *ngIf="submitConfirm" class="action-confirm">
    <div class="action-confirm-text">
      确定提交吗？要不要再确认一下。要做一个付责任的镖师哦~~
    </div>
    <div class="action-confirm-buttons">
      <button mat-raised-button (click)="this.submitConfirm = false">我再看看</button>
      <button mat-raised-button color="primary">不改了</button>
    </div>
  </div>
  <button *ngIf="!submitConfirm" mat-raised-button color="accent" class="action-next" (click)="this.submitConfirm = true">Next</button>
</div> -->

<!-- <app-task-submit class="action-panel"></app-task-submit> -->
