.project-mat-card {
    cursor: pointer;
    width: 100%;
    margin: 10px;
}

.project-mat-card:hover {
    background-color: #e2e0e0;
}

/* .row {
    margin-top: 1em;
    padding: 1em;
    border: 2px solid lightblue;
    border-radius: 5px;
    box-shadow: 0 0 1em lightcyan;
    background-color: rgb(234, 255, 255);
} */

.card-container {
    display: inline-block;
    margin-right: 1em;
}
.container{
   
}
/* .project-mat-card:hover {
    background-color: gray;
    animation: hover-animation 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hover-animation {
    from {transform: scale(1);}
    to {transform: scale(1.06);}
} */