<svg [style.cursor]="mode === 'draw' ? 'crosshair' : 'default'" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  attr.viewBox="0 0 {{width}} {{height}}" [attr.width]="width" [attr.height]="height"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="onMouseUp($event)">

  <!--显示后端返回的boundingbox-->
  <svg:g *ngIf="showResult && data.params.result && data.params.result.annotations" >
      <svg:rect *ngFor="let item of data.params.result.annotations" class="bounding-box" style="stroke: blue;" 
      [style.stroke-width]="(1/zoom) + 'px'" [attr.x]="item.start.X" [attr.y]="item.start.Y"
        [attr.width]="item.width" [attr.height]="item.height"
      [matTooltip]="item.label"></svg:rect>
  </svg:g>
  <svg:g #svgGroup *ngFor="let item of boundingBoxs; let i = index">

    <svg:rect class="bounding-box"
      [matTooltip]="item.label"
      [style.stroke-width]="(1.5/zoom) + 'px'" [style.fill]="item.fillColor"
      [attr.x]="item.svgStart.X" [attr.y]="item.svgStart.Y"
      [attr.width]="item.svgWidth" [attr.height]="item.svgHeight"
      (click)="clickBox(i)"></svg:rect>
    <svg:g *ngIf="item.svgWidth > 0 && item.svgHeight > 0 && item.selected">
      <svg:circle id="left-top" class="bounding-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="2 / zoom" [attr.cx]="item.svgStart.X"
        [attr.cy]="item.svgStart.Y"></svg:circle>
      <svg:circle id="left-center-{{i}}" class="bounding-point resize-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="3 / zoom"
        [attr.cx]="item.svgStart.X" [attr.cy]="item.svgStart.Y + (item.svgHeight / 2)" (mousedown)="startResize($event)"></svg:circle>
      <svg:circle id="left-bottom" class="bounding-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="2 / zoom" [attr.cx]="item.svgStart.X"
        [attr.cy]="item.svgStart.Y + item.svgHeight"></svg:circle>
      <svg:circle id="top-center-{{i}}" class="bounding-point resize-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="3 / zoom"
        [attr.cx]="item.svgStart.X + (item.svgWidth / 2)" [attr.cy]="item.svgStart.Y" (mousedown)="startResize($event)"></svg:circle>
      <svg:circle id="bottom-center-{{i}}" class="bounding-point resize-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="3 / zoom"
        [attr.cx]="item.svgStart.X + (item.svgWidth / 2)" [attr.cy]="item.svgStart.Y + item.svgHeight" (mousedown)="startResize($event)"></svg:circle>
      <svg:circle id="right-top" class="bounding-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="2 / zoom" [attr.cx]="item.svgStart.X + item.svgWidth"
        [attr.cy]="item.svgStart.Y"></svg:circle>
      <svg:circle id="right-center-{{i}}" class="bounding-point resize-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="3 / zoom"
        [attr.cx]="item.svgStart.X + item.svgWidth" [attr.cy]="item.svgStart.Y + (item.svgHeight / 2)" (mousedown)="startResize($event)"></svg:circle>
      <svg:circle id="right-bottom" class="bounding-point" [style.stroke-width]="(1/zoom) + 'px'" [attr.r]="2 / zoom" [attr.cx]="item.svgStart.X + item.svgWidth"
        [attr.cy]="item.svgStart.Y + item.svgHeight"></svg:circle>

    </svg:g>
  </svg:g>
</svg>
