.left-panel {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 180px;
    background-color: white;
    text-align: center;
    padding: 1em 0;
}

.nav-head {
    font-size: 20px;
    font-weight: bold;
    padding: 0.2em 0;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.nav-item {
    font-size: 14px;
    padding: 0.2em 0;
    cursor: pointer;
    padding: 0.5em 0;
}

.nav-item:hover {
    color: rgba(2, 178, 139, 1);
}

.selected {
    background-color: rgba(2, 178, 139, 0.3);
    border-right: 3px solid rgb(2, 178, 139);
}

.content-panel {
    padding: 1em;
}